@import "~Sass/_helpers.scss";

.influencers {
    display: block;
    margin: 0 12px;

    @include media(tablet) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 16px;
    }
}
.wrapper {
    display: block;
    margin: 0 0 80px;
}